.Home{
  width: 100%;
  height: 87vh;
}
.Background{
  padding-top: 10px;
  display: block;
  width: 300px;
  height: 733px;
  margin: auto;
}

.DDay{
  display: flex;
  height: 2vh;
  margin-top: 5px;
  justify-content: center;
}

.DDayImg{
  display: flex;
  width: 2vh;
  height: 2vh;
}

.DDayText{
  display: flex;
  font-size: 2vh;
  margin: 0;
}