.RestartModalBackground{
  position: relative;
}
.RestartModalBackground:before{
  position: absolute;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
}

.RestartModal{
  display: block;
  background-color: white;
  width: 70vw;
  height: 20vh;
  margin: auto;
}

.ModalText{
  width: 100%;
}