.TodoPage{
  width: 100%;
  height: 87vh;
}

.TitleBox{
  display:flex;
  width: 100%;
  height: 8vh;
  vertical-align: middle;
}

.Goal{
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width: 40%;
  height: 100%;
}

.Rate{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 30%;
  height: 100%;
}

.ButtonArea{
  display: flex;
  width: 30%;
  height: 100%;
}

.RestartButton{
  position: relative;
  height: 60%;
  width: 100%;
  margin: 0;
  padding: 50% 0;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
}
.RestartButton:hover {
    border-color: #000000;
    background: #f7f7f7;
}

.TitleText{
  display: table;
  width: 100%;
  height: 40%;
}

.TitleText p{
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  font-weight: 400;
}

.TitleValue{
  display: table;
  width: 100%;
  height: 60%;
}

.TitleValue p{
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
}