@font-face {
  font-family: "Anders";
  src: url("./fonts/Anders.ttf") format("truetype");
}

.App {
  text-align: center;
}

.Background{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.TopBar{
  display: flex;
  margin: 0px;
  height: 40px;
  width: 100%;
  background-color: #deceb0;
}

.Title{
  display: flex;
  width: fit-content;
  text-align: left;
  font-size: 24px;
  font-family: "Anders";
  margin: auto 0 auto 12px;
}

.AddButton{
  display: flex;
  width: 24px;
  height: 24px;
  right: 0px;
  margin: auto 12px auto auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
